**/*.mexw64
**/*.mexmaci64
**/*.mexmaca64
**/*.asv
**/codegen/
**/.DS_store
**/*.exe
**/*.pdb
**/*.prj    
**/*.pdf
**/*.segy
**/*.mat
**/**/data/
!examples/regression/marmousi/cmaps.mat
**/examples.env
**/examples/**/data/
!examples/regression/NorthSe-1D-Application/prob_color_map.mat
!examples/regression/NorthSe-1D-Application/igmnOptions.mat
!examples/regression/rock_physics/igmnOptions.mat
!examples/regression/rock_physics/prob_color_map.mat
!examples/regression/UNISIM-TimeLapse/dms_rmse.mat
!examples/regression/UNISIM-TimeLapse/igmnOptions.mat

