[submodule "SeReM"]
	path = SeReM
	url = https://github.com/leandrofgr/SeReM.git
[submodule "examples/regression/Stanford-VI-E/data"]
	path = examples/regression/Stanford-VI-E/data
	url = https://github.com/SCRFpublic/Stanford-VI-E.git
[submodule "GeoStatRockPhysics"]
	path = GeoStatRockPhysics
	url = https://github.com/leandrofgr/GeoStatRockPhysics.git
[submodule "matlab2tikz"]
	path = matlab2tikz
	url = https://github.com/matlab2tikz/matlab2tikz.git
