[submodule "SeReM"]
	path = SeReM
	url = https://github.com/leandrofgr/SeReM.git
	branch = 4D_project
[submodule "examples/regression/Stanford-VI-E/data"]
	path = examples/regression/Stanford-VI-E/data
	url = https://github.com/SCRFpublic/Stanford-VI-E.git
[submodule "4DStatisticalRockPhysics"]
	path = 4DStatisticalRockPhysics
	url = https://github.com/leandrofgr/4DStatisticalRockPhysics.git
[submodule "matlab2tikz"]
	path = matlab2tikz
	url = https://github.com/matlab2tikz/matlab2tikz.git
