[submodule "SeReM"]
	path = SeReM
	url = https://github.com/leandrofgr/SeReM.git
	branch = main
[submodule "GeoStatRockPhysics"]
	path = GeoStatRockPhysics
	url = https://github.com/leandrofgr/GeoStatRockPhysics.git
    branch = main
[submodule "matlab2tikz"]
	path = matlab2tikz
	url = https://github.com/matlab2tikz/matlab2tikz.git
